.body_background {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(55,49,138, 25)), url(https://i.imgur.com/PWcpxYR.png) no-repeat fixed;
  background-size: cover;
}


.top_section {
  background: url(https://i.imgur.com/AOAikYW.png);
  flex: .4
}

.profile_picture {
  width: 100px;
  height: 100px;
  position: absolute;
  align-self: center;
  top: 90px;
  border-radius: 50%;
  border: 5px solid rgb(231, 231, 231);
  overflow: hidden;
}
.profile_picture img {
  width: 100%;
  height: 100%;
}




.main_section {
    overflow: hidden;
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
.main_wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  
}

